{% extends "::layout.html.twig" %}
{% block container %}
    {{parent()}}
    {{texto}}
    
    {#ESTO ES UN COMENTARIO
    
    <H1>HOLA</H1>
    #}
    <hr/>
    {{fruta.pera}}
     {% if fruta.pera ends with 'r'%}
        {{fruta.manzana}}
     {% endif %}
    <hr/>
    {% set variable = "Hola Twig" %}
    {{variable}}
    
    <hr/>
    {% if productos|length > 4%}
        <ul>
        {% for producto in productos %}
            <li>{{ producto.producto }} - {{ producto.precio }}</li>
        {% endfor %}
        </ul>
    {% endif%}
    <hr/>
    {% set fecha = date("-2 days","Europe/Madrid") %}
    {% set texto = "    fasdfas," %}
    {{ fecha.date|date("d-m-Y") }}
    
    {{texto|trim(",")}}
    
    <hr/>
    {{ include('AppBundle:pruebas:partial.html.twig') }}
    {{ min([76,99,58])}}
    <hr/>
    {{ random(["Batman","Los juegos del hambre","Gran torino"]) }}
    <hr/>
    {% for i in range(0,25,3) %}
           {{i}}<br/>
    {% endfor %}
    <hr/>
    {{ generateTable(productos)|raw }}
    <hr/>
    {{ "cadena de texto"|addText(2) }}
{%endblock%}
